 .check {
    color:#303f9f;
    display:none;
 }

 .cancel {
    color:#D32F2F;
    display:none;
 }

 .minus-circle {
    color:#D32F2F;
 }


 .text-ok {
    display:none;
 }

 .text-error {
    color:#D32F2F !important;
 }

 .mensaje {
    display:none;
 }

 .input-field label {
	 color: #9e9e9e;
 }

 .input-field input[type=text]:focus + label {
	 color: #303f9f !important;
 }

 .input-field textarea:focus + label {
	 color: #303f9f !important;
 }

 .input-field input[type=text]:focus {
	 border-bottom: 1px solid #303f9f;
	 box-shadow: 0 1px 0 0 #303f9f;
 }

 .input-field input[type=text].valid {
	 border-bottom: 1px solid #3c5a96 !important;
	 box-shadow: 0 1px 0 0 #303f9f !important;
	}

 .input-field input[type=text].invalid {
	 border-bottom: 1px solid #D32F2F !important;
	 box-shadow: 0 1px 0 0 #D32F2F !important;
 }

 .input-field textarea.invalid {
	 border-bottom: 1px solid #D32F2F !important;
	 box-shadow: 0 1px 0 0 #D32F2F !important;
 }
 
 .input-field textarea.valid {
	 border-bottom: 1px solid #303f9f !important;
	 box-shadow: 0 1px 0 0 #303f9f !important;
 }

 .input-field .prefix.active {
	 color: #000;
 }

 .nav-div{
 	padding: 5px 0 0 0;
 }
		
}
