<link href="/assets/css/app.css" rel="stylesheet">
    <div class="row">
      <div class="mainPic col l5 offset-l1 m12 s12 ">
          <br><br><br><br>
          <img src="/assets/images/main.png">
          <h1>Sistema de Emisión y Validación de Certificados Digitales</h1>
          <br><br>
          <!--<div class="col l12 m12 s12">
            <center>
              <a class="waves-effect waves-blue btn col2" href="/iniciarSesion">Iniciar sesi&oacute;n</a>
            </center>
          </div>-->
      </div>
    

      <div class="col l4 offset-l1 m12 s12">
        <br><br><br>
        <div class="card-panel grey lighten-5">
          <div class="card-content">
            <div class="container"><br> 
              <div class="row">
                <h2>Iniciar sesi&oacute;n</h2>
              <!--p>* Campos requeridos</p-->
                <div class="row">
                  <form class="col m12 s12" name="form-login" id="form-prof" method="post" autocomplete="on" action="auth/login">
                    <div class="row">
                      <div class="input-field col s12">
                        <input id="email" type="email" name="email" class="validate" required>
                        <label for="email">Wallet</label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="input-field col l12 m12 s12">
                        <input id="password" type="password" name="password" class="validate" required>
                        <label for="password">Contraseña</label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col l12 m6 s6">
                          <button class="waves-effect waves-blue btn" type="submit" id="validar-sesion">Acceder</button>
                      </div>
                    </div> 
                  </form>
                </div>
              </div> 
            </div>      
          </div>
        </div>
      </div>
    </div>